<div id="message_content">
  <%= form_with model: message, url: messages_path, local: false do |f| %>
    <div class="flex p-4 bg-white shadow">
      <%= f.text_field :content, class: "flex-1 border rounded px-4 py-2", placeholder: "メッセージを入力...", autocomplete: "off" %>
      <%= f.submit "送信", class: "ml-2 px-4 py-2 bg-blue-500 text-white rounded" %>
    </div>
  <% end %>
</div>