<div class="h-screen flex flex-col bg-gray-100">
   <!-- チャットエリア -->
  <div id="chat-box" class="flex-1 overflow-y-auto p-4 space-y-2" data-controller="scroll">
    <%= turbo_stream_from "messages" %>
    <%= render partial: "messages/message", collection: @messages %>
  </div>

  <!-- 入力フォーム（Turboが置き換える対象） -->
  <%= render partial: "messages/form", locals: { message: @message } %>
</div>